# Environment variables needed for notes_database container and for backend connection

NOTES_DB_HOST=notes_database
NOTES_DB_PORT=5432
NOTES_DB_NAME=notesdb
NOTES_DB_USER=notesuser
NOTES_DB_PASSWORD=notessecret
